* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.column {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100px;
    height: 700px;
    border: 1px solid black;
    padding-bottom: 2px;
}

.token {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 9.5px;
}

.red {
    background-color: #ff0000;
}

.black {
    background-color: #000000;
}

#screen {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 100px;
    z-index: 1;
    background-color: rgba(100, 100, 100, 0.2);
    border-top: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#game_grid {
    position: relative;
    display: inline-flex;
    padding-bottom: 1px;
}

.blue_border {
    border: 2px solid blue;
}